In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv(r"C:\Users\USER\Downloads\suv_data.csv")
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [4]:
X=data.iloc[:,[2,3]]
y=data.iloc[:,4]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [8]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression(random_state=0)

In [10]:
logmodel.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [11]:
y_pred=logmodel.predict(X_test)
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [12]:
from sklearn.metrics import accuracy_score,classification_report

In [13]:
score=accuracy_score(y_pred,y_test)*100
score

83.0

In [14]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)
cm

array([[52, 11],
       [ 6, 31]], dtype=int64)

In [15]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.90      0.83      0.86        63
           1       0.74      0.84      0.78        37

    accuracy                           0.83       100
   macro avg       0.82      0.83      0.82       100
weighted avg       0.84      0.83      0.83       100